@use "app/(pages)/_globals/mixins";

.darkblue {
    background-color: var(--blue);
    color: var(--light-background);
    width: fit-content;
    padding: var(--spacer) var(--small-spacer);
    gap: var(--tiny-spacer);
    border-radius: var(--b-radius);
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 434px;
    box-shadow: var(--b-shadow);
}

.lightblue {
    background-color: var(--light-blue);
    color: var(--black);
    width: fit-content;
    padding: var(--spacer) var(--small-spacer);
    gap: var(--tiny-spacer);
    border-radius: var(--b-radius);
    display: flex;
    flex-direction: column;
    box-shadow: var(--b-shadow);
    max-width: 430px;
    min-width: 430px;
    .underline {
        font-weight: 500;
        text-decoration: underline;
    }
    .bold {
        margin-top: 2%;
        font-weight: 600;
    }
}

.black {
    background-color: var(--primary);
    color: var(--light-background);
    width: fit-content;
    padding: var(--spacer) var(--small-spacer);
    gap: var(--tiny-spacer);
    border-radius: var(--b-radius);
    display: flex;
    flex-direction: column;
    box-shadow: var(--b-shadow);
    width: fit-content;
}

.line {
    background-color: var(--light-background);
    height: 1px;
    width: 100%; 
}

.RowCol {
    display: flex;
    flex-direction: column;
    gap: var(--small-spacer);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small-spacer)/2;
    margin-top: 2%;
}

.spacer{
    gap: var(--small-spacer);
    margin-top: var(--small-spacer);
    display: flex;
    flex-direction: column;
}

.button {
    font-family: var(--font-sunflower);
    color: var(--blue);
    background-color: var(--light-background);
    padding: var(--tiny-spacer);
    border-radius: var(--button-radius);
    border: solid 1px var(--black);
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
}

.button.delete {
    background-color: rgb(206, 69, 69);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    height: 84px;
    width: 84px;
    border-radius: 25%;
    border-color: white;
    position: relative;
}


.button.favorite {
    background-color: rgb(84, 182, 86);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    height: 84px;
    width: 84px;
    margin-top: 2px;
    border-radius: 25%;
    border-color: white;
    position: relative;
}

.button.favorite:active {
    border-color: black;
}

.button.delete:active {
    border-color: black;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.DropDown {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.successMessage {
    margin-top: 1%;
    background-color: rgb(84, 182, 86);
}
